/*
  can't find any documentation on your own styleguide, spent too long looking
  running out of time so bit of a mix of css styles, ran out of time to style it properly :/
*/

.flightResults {
  display: flex;
  flex-direction: column;
}

.flightResult {
  display: block;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  color: #b2aebd;
}

.flightResult__legs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.flightResult__airlineLogo {
  width: 25px;
  display: block;
  img {
    width: 100%;
  }
}

.flightResult__timeport,
.flightResult__info__price_agent {
  display: flex;
  flex-direction: column;
}
.flightResult__timeport__time {
  font-size: 1em;
  color: #333;
}
.flightResult__timeport__airport {
  font-size: 1em;
}
.flightResult__duration {
  font-size: 1em;
}
.flightResult__stops {
  font-size: 0.9em;
  color: #d1435b;
}
.flightResult__stops--direct {
  font-size: 0.9em;
  color: #00a698;
}
.flightResult__price {
  color: #333;
  font-size: 1.2em;
}

.flightResult__info {
  display: flex;
  justify-content: space-between;
}

.flightResult__cta {
  padding: 10px;
  background: #00a698;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
